<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/2539205-crianca-engracada-apresentando-e-apontando-vetor.jpg"
                    alt="Foto de Perfil" height="50px" width="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bolder text-white fs-16">Mábile Cristina</p>
            </li>
            <li class="nav-item pl-3">
                <a href="#">
                    <p class="m-0 text-white fs-16"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3"><a (click)="sair()">
                    <p class="m-0 font-weight-bolder text-white fs-16">Sair <i class="fa fa-sign-out"
                            aria-hidden="true"></i></p>
                </a></li>
        </ul>
    </div>
</nav>